body {
	font-family: Helvetica;
	font-size: 18px;
	background-color: #eeeeee;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	color: #ffffff;
	background-color: #000000;
	text-align: center;
}

header span {
	font-weight: 700;
}

.block {
	width: 100%;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

#block1 {
	margin-top: 300px;
	margin-bottom: 400px;
	background-color: #800000;
}

#block2 {
	margin-bottom: 500px;
	background-color: #008000;
}

#block3 {
	margin-bottom: 300px;
	background-color: #008080;
}

#block4 {
	margin-bottom: 1500px;	
	background-color: #FF00FF;
}